body {
  background:#020617;
  font-family:Arial, sans-serif;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background:#0f172a;
  padding:25px;
  border-radius:15px;
  width:280px;
  text-align:center;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}

h2 {
  margin-bottom:15px;
}

.row {
  font-size:18px;
  margin:10px 0;
}

.timer {
  font-size:12px;
  color:#22c55e;
}

.disclaimer {
  font-size:10px;
  color:#facc15;
  margin-top:10px;
}
